@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
    max-width: 1200px;
    margin-left: 25px;
    margin-right: 25px;
}

.form-group > *,
.btn-full {
    width: 100%;
}

.form-control.btn-full {
    border-radius: 3px;
    background-color: thistle;
}

.submitted input:invalid {
    border: 1px solid #c00;
}

.submitted input:focus:invalid {
    outline: 1px solid #c00;
}
